.app-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.main-content {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  min-height: 0;
}

.main-content.simple-mode {
  justify-content: center; /* Center vertically */
  padding-bottom: 33vh; /* Adjust to be slightly higher than center */
}

.datetime-display {
  text-align: center;
  margin-bottom: 20px; /* Add margin below datetime */
}

.search-bar-container {
  margin-bottom: 20px; /* Add margin below search bar */
}

.motto-line {
  margin-top: auto; /* Push to the bottom */
  padding-top: 0px;
  font-size: 1.5em;
  color: #000000;
  text-align: center;
  width: 100%;
}

.timezone-selector {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
}

.timezone-selector select{
  border:none;
  border-radius:5px;
  outline:none;
  background-color: rgba(240, 248, 255, 0.8);
}

.datetime-display .time {
  font-size: 6em;
  font-weight: bold;
}

.datetime-display .date {
  font-size: 1.7em;
}

.datetime-display,
.search-bar-container,
.motto-line {
  flex-shrink: 0;
}