.search-engine-menu {
  position: absolute;
  top: 100%; /* Position below the search bar */
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  z-index: 100;
  width: auto; /* Adjust as needed */
  padding: 0px;
}

.search-engine-menu ul {
  list-style: none;
  padding: 0px 0px 0px 7px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-engine-menu li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 5px 8px 5px;
  cursor: pointer;
  margin: 5px 0px 5px 0px;
  text-align: left;
  font-size: 16px; /* Increased font size */
}

.search-engine-menu li img {
  width: 24px; /* Increased icon size */
  height: 24px; /* Increased icon size */
  margin-right: 10px;
  margin-bottom: 0;
}

.search-engine-menu .add-new {
  font-weight: bold;
  color: #007bff;
  border-top: none;
  margin-top: 0;
  padding-top: 0;
  margin: 5px;
  padding: 8px 8px;

}
