.shortcuts-display {
  padding: 0px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  width: 98%;
  box-sizing: border-box;
}

.shortcuts-display ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.shortcuts-display li {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 1.1em;
  transition: all 0.2s ease-in-out;
}

.shortcuts-display li:hover {
  background-color: #e9e9e9;
  border-color: #bbb;
  transform: translateY(-2px);
}

.shortcuts-display li a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.shortcuts-display li a:hover {
  color: #0056b3;
}

.shortcut-app {
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.shortcut-app:hover {
  transform: translateY(-5px);
}

.shortcut-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #333;
  gap: 5px;
  width: 100%;
  height: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.shortcut-icon {
  width: 48px;
  height: 48px;
  border-radius: 10px;
  flex-shrink: 0;
}

.shortcut-name {
  font-size: 0.9em;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
